@media (max-width: 1024px) {
  .catalog__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  :root {
    --section-gap: 60px;
  }

  .btn {
    width: 200px;
  }

  .header__nav {
    display: none;
  }

  .header__burger {
    display: block;
  }
}

@media (max-width: 365px) {
  .header__inner {
    gap: 30px;
  }

  .top__inner {
    flex-direction: column;
  }

  .top__content {
    max-width: 100%;
    text-align: center;
  }

  .top__link {
    margin: 0 auto;
  }

  .top__img-wrapper,
  .process__img-wrapper,
  .promo__img-wrapper {
    display: none;
  }

  .process__result {
    grid-template-columns: 1fr;
  }

  .process__main {
    flex-direction: column;
  }

  .process__content {
    padding: 0;
    max-width: 100%;
  }

  .catalog__list {
    grid-template-columns: 1fr;
  }

  .brands__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .promo__content {
    max-width: 100%;
  }

  .footer__main {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}
