html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.7;
  color: var(--color-text);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-link);
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

:root {
  --color-title: #666;
  --color-text: #85859b;
  --color-link: #7875fe;
  --gap: 30px;
  --section-gap: 90px;
}

.wrapper {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1140px;
}

.section__title {
  margin: 0;
  font-size: 2em;
  font-weight: 400;
  line-height: 1;
  color: var(--color-title);
}

.btn {
  padding: 20px;
  max-width: 255px;
  font-size: 1em;
  text-align: center;
  border: 1px solid var(--color-link);
}

.header {
  margin-bottom: 60px;
  border-bottom: 1px solid #ddd;
}

.header__inner {
  padding: 29px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.header__logo {
  flex-grow: 1;
}

.header__list {
  display: flex;
  gap: 60px;
}

.header__link {
  font-size: 1em;
  color: #4c5866;
}

.header__link:hover {
  color: var(--color-link);
  transition: color 0.3s ease-in-out;
}

.header__btn {
  height: 24px;
  fill: none;
  stroke: #4c5866;
}

.header__search {
  margin-right: var(--gap);
}

.header__search:hover,
.header__login:hover {
  stroke: var(--color-link);
}

.header__burger {
  position: relative;
  display: none;
  width: 25px;
  height: 20px;
  cursor: pointer;
}

.header__burger-item {
  position: absolute;
  display: block;
  width: 25px;
  height: 2px;
  background: #000;
}

.header__burger-item:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.header__burger-item:nth-child(3) {
  bottom: 0;
}

.main {
  flex-grow: 1;
}

.top__inner {
  display: flex;
  justify-content: space-between;
}

.top__content {
  display: flex;
  padding: 20px 0;
  flex-direction: column;
  gap: var(--gap);
  max-width: 40%;
}

.top__title {
  margin: 0;
  font-size: 3em;
  font-weight: 400;
  line-height: 1;
  color: var(--color-title);
}

.top__text {
  margin: 0;
  font-size: 1em;
}

.top__link:hover {
  background-color: #f1f1fc;
  transition: background-color 0.3s ease-in-out;
}

.top__img-wrapper {
  max-width: 50%;
}

.top__img {
  width: 100%;
  height: 100%;
}

.process {
  padding: var(--section-gap) 0;
  background-color: #ebebeb;
}

.process__result {
  margin-bottom: var(--section-gap);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap);
}

.process__cards {
  display: flex;
  gap: var(--gap);
  padding-top: 19px;
  border-top: 1px solid #c0c0c0;
}

.process__cards-img {
  width: 100%;
  height: 100%;
}

.process__cards-content {
  padding: 19px 0;
}

.process__cards-title {
  margin: 0;
  font-size: 1em;
  color: var(--color-title);
}

.process__cards-text {
  margin: 0;
  font-size: 1em;
}

.process__main {
  display: flex;
  justify-content: space-between;
  gap: var(--gap);
}

.process__img {
  width: 100%;
  height: 100%;
}

.process__content {
  padding: 60px 0;
  max-width: calc(100% - 50% - var(--gap));
}

.process__text {
  margin: 20px 0 0 0;
  font-size: 1em;
}

.catalog {
  padding: var(--section-gap) 0;
}

.catalog__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--gap);
}

.catalog__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: default;
}

.catalog__item:hover {
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
}

.catalog__item-img-wrapper {
  margin-bottom: 10px;
}

.catalog__item-img {
  width: 100%;
  height: 100%;
}

.catalog__item-title {
  margin: 0 0 8px 0;
  font-size: 1.5em;
  font-weight: 400;
  color: var(--color-title);
}

.catalog__item-edit {
  display: inline-block;
  margin-bottom: 8px;
  font-size: 0.7em;
  color: #b5b5b5;
}

.catalog__item-text {
  margin: 0 0 20px 0;
  font-size: 1em;
  flex-grow: 1;
}

.catalog__item-link {
  height: 35px;
  max-width: 130px;
  font-size: 1em;
  background-image: url(../images/catalog/arrow.svg);
  background-position: right center;
  background-repeat: no-repeat;
}

.brands {
  padding: var(--section-gap) 0;
  background-color: #ebebeb;
}

.brands__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--gap);
}

.brands__item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  border: 1px solid #c4c4c4;
}

.brands__item:hover {
  opacity: 0.6;
  transition: opacity 0.3s ease-in-out;
}

.brands__item-img {
  width: 100%;
  height: 100%;
}

.promo {
  padding-top: var(--section-gap);
}

.promo__inner {
  display: flex;
  justify-content: space-between;
  gap: var(--gap);
}

.promo__content {
  padding-top: 25px;
  margin-bottom: var(--gap);
  max-width: 40%;
}

.promo__title {
  margin-bottom: 8px;
}

.promo__text {
  margin-bottom: 30px;
  font-size: 1em;
}

.promo__link {
  display: block;
}

.promo__link:hover {
  background-color: #f1f1fc;
  transition: background-color 0.3s ease-in-out;
}

.promo__img {
  width: 100%;
  height: 100%;
}

.footer {
  background-color: #4c5866;
}

.footer__main {
  padding: 29px 0;
  display: flex;
  justify-content: space-between;
}

.footer__social-link + .footer__social-link {
  margin-left: var(--gap);
}

.footer__social-link {
  fill: white;
}

.footer__social-link:hover {
  fill: var(--color-link);
  transition: fill 0.3s ease-in-out;
}

.footer__copy {
  margin: 0;
  font-size: 0.65em;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  border-top: 1px solid #fff;
}
