/* CONTACTS */
.contacts {
  padding-top: 100px;
  margin-bottom: var(--gap);
}

.contacts__title {
  margin-bottom: 20px;
}

.contacts__text {
  margin-bottom: 50px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.form {
  margin: 0 auto;
  max-width: 580px;
  font-size: 0;
}

.form__input {
  padding: 18px 20px;
  width: calc((100% / 2) - 20px);
  font-size: 16px;
  border: 1px solid var(--secondary);
}

.form__input + .form__input {
  margin-left: 40px;
}

.form__textarea {
  padding: 28px 20px;
  margin: 50px 0;
  width: 100%;
  height: 290px;
  font-size: 16px;
  border: 1px solid var(--secondary);
  resize: none;
}

.form__btn {
  display: block;
  margin: 0 auto;
  padding: 13px;
  width: 185px;
  font-size: 16px;
  background-color: var(--dark);
  color: var(--light);
  text-transform: uppercase;
  border: none;
}

.form__input::placeholder,
.form__textarea::placeholder {
  color: var(--dark);
  opacity: 0.5;
}
