@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
  --light: #fff;
  --dark: #151515;
  --secondary: #0066ff;
  --gap: 150px;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--light);
  font-family: "Inter", sans-serif;
  font-size: 100%;
  font-weight: 400;
  line-height: 1.3;
  color: var(--dark);
}

html,
body {
  height: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.section__title {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}

.wrapper {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

/* HEADER */
.header {
  background-color: var(--dark);
  color: var(--light);
}

.header-main {
  position: absolute;
  z-index: 6;
  left: 0;
  right: 0;
  background-color: transparent;
}

.header__inner {
  display: flex;
  padding-top: 40px;
  padding-bottom: 45px;
  justify-content: space-between;
  align-items: flex-end;
}

.menu__list {
  display: flex;
  gap: 35px;
}

.menu__list-link {
  text-transform: uppercase;
  font-weight: 700;
}

.menu__list-link--active {
  color: var(--secondary);
}

/* FOOTER */
.footer {
  padding: 50px 0 32px;
  background-color: var(--dark);
  color: var(--light);
}

.footer__menu {
  display: flex;
  margin-bottom: 50px;
  justify-content: space-around;
}

.footer__menu-list {
  max-width: 250px;
}

.footer__menu-item {
  padding-top: 20px;
}

.footer__menu-title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
}

.app {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
  gap: 40px;
}

.footer__copy {
  margin-bottom: 30px;
}

.footer__copy-text {
  margin: 0 auto;
  width: 66%;
  text-align: center;
  font-size: 12px;
}

.footer__copy-link {
  text-decoration: underline;
}

.copy__nav {
  display: flex;
  justify-content: center;
  gap: 40px;
}

/* ARTICLES */
.articles {
  margin-bottom: var(--gap);
}

.card {
  display: flex;
  margin-bottom: 70px;
  gap: 40px;
}

.card__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card__item-img {
  margin-bottom: 30px;
}

.card__item-text {
  font-size: 24px;
  font-weight: 700;
}

.card__item-link {
  padding: 5px;
  width: 80px;
  color: var(--light);
  background-color: var(--secondary);
  text-align: center;
}

.articles__link {
  display: block;
  margin: 0 auto;
  padding: 13px;
  width: 223px;
  color: var(--light);
  background-color: var(--dark);
  text-align: center;
}
