@keyframes сard {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.choose {
  margin-top: 100px;
  margin-bottom: var(--gap);
}

.choose__title {
  margin-bottom: 50px;
}

.tabs__btn {
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  gap: 80px;
}

.tabs__btn-item {
  color: var(--dark);
  border: none;
  background-color: inherit;
  font-weight: 700;
}

.tabs__btn-item--active {
  color: var(--secondary);
}

.tabs__content {
  margin-bottom: 70px;
}

.tabs__content-card {
  display: none;
  gap: 40px;
}

.tabs__content-card--active {
  display: flex;
  animation-name: сard;
  animation-duration: 2s;
}

.tabs__content-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border: 1px solid var(--secondary);
}

.tabs__content-item-title {
  font-size: 24px;
}

.tabs__content-item-price {
  font-size: 24px;
  font-weight: 700;
}

.tabs__content-item-details {
  width: 100%;
  color: var(--secondary);
  border-top: 1px solid var(--secondary);
  text-align: center;
}
