@font-face {
  font-family: "Oswald", sans-serif;
  src: local("Oswald") url("../fonts/Oswald-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Oswald", sans-serif;
  src: local("Oswald") url("../fonts/Oswald-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Poppins", sans-serif;
  src: local("Poppins") url("../fonts/Poppins-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat", sans-serif;
  src: local("Montserrat") url("../fonts/Montserrat-Light.woff2")
    format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: local("Roboto") url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

:root {
  --accent-color: #f7992b;
  --light-color: #ffffff;
  --dark-color: #000000;

  --section-gap: 50px;
  --gap: 30px;

  --font-size: 16px;
  --font-oswald: "Oswald", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}

html,
body {
  height: 100%;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-oswald);
  font-weight: 300;
  font-size: var(--font-size);
  color: var(--dark-color);
  background-color: var(--light-color);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1140px;
}

.links {
  padding: 18px 38px 18px 47px;
  font-size: 0.875em;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.714em;
  letter-spacing: 8.4px;
  background-color: var(--accent-color);
  color: var(--light-color);
  border: 1px solid var(--accent-color);
  transition: all 0.3s ease-in-out;
}

.subs {
  font-size: 0.875em;
  text-transform: uppercase;
  line-height: 1.285em;
  letter-spacing: 1.4px;
}

.section__title {
  margin-bottom: var(--gap);
  font-size: 3em;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.125em;
  letter-spacing: 2.4px;
  white-space: pre-line;
}

.line__title {
  display: inline-block;
  width: 70px;
  height: 4px;
  background-color: var(--accent-color);
}

/* HEADER */

.header {
  background-color: #3b3d42;
}

.header__inner {
  display: flex;
  padding: var(--gap);
  justify-content: space-between;
  align-items: center;
}

.menu__list {
  display: flex;
  gap: calc(var(--gap) / 2);
}

.menu__link {
  font-family: var(--font-roboto);
  color: var(--light-color);
  text-transform: uppercase;
  font-size: 1.06em;
  line-height: 0.93em;
  font-weight: 400;
  letter-spacing: 1.2px;
  transition: all 0.3s ease-in-out;
}

.menu__link-active {
  color: var(--accent-color);
}

.menu__link:hover {
  color: var(--accent-color);
}

/* HERO */

.hero {
  height: 100vh;
  position: relative;
  background-image: url("../images/back-hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--dark-color);
  opacity: 0.5;
}

.hero__inner {
  display: flex;
  position: relative;
  height: 100%;
  flex-direction: column;
  gap: var(--gap);
  justify-content: center;
  align-items: center;
  color: var(--light-color);
  z-index: 3;
}

.hero__title {
  font-size: 5em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.hero__text {
  font-size: 2.375em;
  letter-spacing: 1.4px;
}

.hero__link:hover {
  background-color: transparent;
  color: var(--accent-color);
}

/* ABOUT */

.about {
  position: relative;
  z-index: 2;
}

.about__content {
  margin: var(--section-gap) 0;
}

.about__subs {
  margin-bottom: var(--gap);
}

.about__box {
  display: flex;
  justify-content: space-between;
  gap: var(--gap);
}

.about__text {
  font-family: var(--font-montserrat);
  font-size: 0.875em;
  font-weight: 300;
  line-height: 2.143em;
  white-space: pre-line;
}

.about__text:nth-child(1) {
  margin-bottom: var(--gap);
  font-weight: 700;
}

.directions {
  display: flex;
  justify-content: space-between;
  gap: var(--gap);
}

.directions__card {
  position: relative;
  width: 350px;
  height: 510px;
}

.directions__img {
  width: 100%;
  height: 100%;
}

.directions__title {
  position: absolute;
  padding-bottom: calc(var(--gap) * 2);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.directions__link {
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--light-color);
  white-space: nowrap;
  transition: all 0.3s ease-in-out;
}

.directions__link:hover {
  color: var(--accent-color);
}

/* PORTFOLIO */

.portfolio {
  margin: var(--section-gap) 0;
}

.portfolio__subs {
  margin-bottom: var(--gap);
}

.portfolio__inner {
  display: flex;
  margin-bottom: var(--gap);
  gap: var(--gap);
}

.portfolio__text {
  font-family: var(--font-montserrat);
  font-size: 0.875em;
  font-weight: 300;
  line-height: 2.143em;
  white-space: pre-line;
}

.portfolio__gallery {
  display: grid;
  padding: 15px;
  margin-bottom: var(--gap);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: var(--gap);
}

.portfolio__img {
  width: 600px;
  height: 600px;
}

.portfolio__link-wrapper {
  text-align: center;
}

.portfolio__link {
  background-color: transparent;
  color: var(--accent-color);
  transition: all 0.3s ease-in-out;
}

.portfolio__link:hover {
  background-color: var(--accent-color);
  color: var(--light-color);
}

/* PARTNERS */

.partners {
  margin-bottom: var(--section-gap);
}

.partners__subs {
  margin-bottom: var(--gap);
}

.partners__inner {
  display: flex;
  gap: var(--gap);
  justify-content: space-between;
}

.partners__populated {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap);
}

.partners__card {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CONTACTS */

.contact {
  margin-bottom: var(--section-gap);
}

.contact__subs {
  margin-bottom: var(--gap);
}

.contact__title {
  white-space: pre-line;
}

.contact__inner {
  display: flex;
  gap: var(--gap);
  justify-content: space-between;
}

.address {
  margin: var(--gap) 0;
}

.address__text {
  font-family: var(--font-poppins);
  font-size: 1em;
  font-weight: 300;
  line-height: 2.2em;
  font-style: normal;
}

.address__link {
  color: var(--accent-color);
  transition: all 0.3s ease-in-out;
}

.address__link:hover {
  color: var(--dark-color);
}

.social {
  display: flex;
  gap: calc(var(--gap) / 2);
}

.social__link svg {
  fill: var(--dark-color);
  transition: all 0.3s ease-in-out;
}

.social__link:hover svg {
  fill: var(--accent-color);
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  flex-grow: 1;
}

.form__input,
.form__textarea {
  padding: 10px;
  color: var(--dark-color);
  border: 1px solid #ebeced;
  border-radius: 4px;
}

.form__input:focus,
.form__textarea:focus {
  box-shadow: 15px 15px 20px #ebeced;
}

.form__input::placeholder,
.form__textarea::placeholder {
  color: rgb(187, 190, 202);
}

.form__textarea {
  resize: none;
}

.form__submit {
  padding: 10px;
  width: 30%;
  font-size: 1em;
  line-height: 1;
  font-family: var(--font-roboto);
  letter-spacing: 1px;
  color: var(--light-color);
  background-color: var(--accent-color);
  border-radius: 5px;
  border: none;
  transition: all 0.3s ease-in-out;
}

.form__submit:hover {
  opacity: 0.7;
}

/* FOOTER */

.footer {
  padding: var(--gap) 0;
}

.footer__copy {
  font-size: 0.687em;
  color: rgb(187, 190, 202);
}

.footer__author {
  color: var(--accent-color);
  transition: all 0.3s ease-in-out;
}

.footer__author:hover {
  color: var(--dark-color);
}
