@keyframes scroll {
  0% {
    transform: translateX(100px);
  }

  100% {
    transform: translateX(0);
  }
}

/* HERO */
.hero {
  position: absolute;
  padding-top: 250px;
  z-index: 5;
  left: 0;
  right: 0;
  color: var(--light);
  text-align: center;
}

.hero__title {
  margin-bottom: 38px;
  font-size: 96px;
  font-weight: 700;
  letter-spacing: 15px;
}

.hero__link {
  display: inline-block;
  padding: 23px 23px;
  max-width: 430px;
  width: 100%;
  background-color: var(--dark);
  font-size: 36px;
  font-weight: 700;
  border: none;
  text-transform: uppercase;
}

/* SWIPER */
.swiper::after {
  content: "";
  position: absolute;
  background: rgba(21, 21, 21, 0.3);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 5;
}

.swiper-slide {
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.swiper-pagination-bullet {
  width: 120px;
  height: 3px;
  background: var(--dark);
  border-radius: 0;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  height: 6px;
  background: var(--light);
}

.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 15px;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 50px;
}

/* WHY */
.why {
  margin: var(--gap) 0;
}

.why__title {
  margin-bottom: 50px;
}

.why__list {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

.why__card {
  text-align: center;
}

.why__card-img {
  margin-bottom: 30px;
}

.why__card-title {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 700;
}

.why__card-text {
  text-align: left;
}

/* HOW */
.how {
  margin-bottom: var(--gap);
}

.how__inner {
  margin: 0 auto;
  max-width: 50%;
}

.how__text,
.how__rules,
.how__list {
  padding-top: 50px;
}

.how__rules {
  font-size: 24px;
  font-weight: 700;
}

.how__list {
  display: flex;
  padding-left: 70px;
  flex-direction: column;
  gap: 40px;
}

.how__card {
  display: flex;
  gap: 140px;
  align-items: center;
}

.how__card-animation {
  animation-name: scroll;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
}

/* WELCOME */
.welcome {
  margin-bottom: var(--gap);
}

.welcome__title {
  margin-bottom: 20px;
  text-transform: uppercase;
}

.welcome__descr {
  margin-bottom: 50px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.welcome__video {
  display: block;
  margin: 0 auto;
}

/* IMPORTANT */
.important {
  margin-bottom: var(--gap);
}

.important__title {
  margin-bottom: 20px;
}

.important__text {
  max-width: 580px;
  margin: 0 auto 50px;
}

.cards {
  display: flex;
  gap: 40px;
}

.cards__img {
  margin-bottom: 20px;
}
